web:
  image: daocloud.io/jarck/rails_docker:latest
  restart: always
  links:
  - redis
  - mysql
  ports:
  - '80'
  - '22'
  volumes:
  - local_path/config/database.yml:/rails_app/config/database.yml
  - local_path/config/secrets.yml:/rails_app/config/secrets.yml
  - local_pathlog:/rails_app/log
  - local_path/public/uploads:/rails_app/public/uploads/
  - local_path/config/config.yml:/rails_app/config/config.yml
  environment:
  - REDIS_HOST=redis
  - MYSQL_HOST=mysql
  - RUN_CONTEXT=prod
  - VIRTUAL_HOST=www.domain.com
  command: /bin/bash docker_web_run.sh
redis:
  image: daocloud.io/daocloud/dao-redis:master-init
  restart: always
  environment:
  - REDIS_PASS=**None**
  - REDIS_APPENDONLY=yes
  - REDIS_APPENDFSYNC=everysec
  volumes:
  - local_path:/data
mysql:
  image: daocloud.io/library/mysql
  restart: always
  environment:
  - MYSQL_ROOT_PASSWORD=password
  - MYSQL_DATABASE=rails_docker
  volumes:
  - local_path:/var/lib/mysql