<tr>
  <td>
    <img class="upload_picture" src="<%= picture.image[0].url %>" width = "60" height = "30" alt="图片名称" align=center />
  </td>
  <td>
    <%= image_url_copy(picture) %>
  </td>
  <% if can? :delete, picture %>
  <td>
    <%= link_to I18n.t("common.delete"), admin_picture_path(picture), method: 'DELETE', data: {confirm: I18n.t("common.confirm")}, class: "btn btn-sm btn-danger" %>
  </td>
  <% end %>
</tr>

<script type="text/javascript">
  var clipboard = new Clipboard(".btn");

  clipboard.on("success", function(e){
    console.info("Action :", e.action);
    console.info("Test :", e.text);
    console.info("Trigger :", e.trigger);

    e.clearSelection();
  });

  clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
  });
</script>