<div class="row">
  <div class="col-md-9">
    <div class="pictures panel panel-default">
        <div class="panel-body">
          <% if @pictures.blank? %>
            <p>
              <span><%= I18n.t("common.empty_picture") %></span>
            </p>
          <% else %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>图片列表</strong>
              </div>
              <table class="table table-striped table-hover">
                <tr>
                  <th>缩略图</th>
                  <th>图片URL</th>
                  <th>操作</th>
                </tr>
                <% cache(['pictures', @pictures]) do %>
                  <%= render @pictures %>
                <% end %>
              </table>
            </div>
          <% end %>
        </div>

        <%= will_paginate @pictures %>
    </div>
  </div>
</div>