<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= I18n.t("common.create_picture") %></strong>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>